body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  text-align: center;
  margin-top: 20%;
  border: 3px solid black;
  width: 30%;
  margin-left: 35%;
  height: 200px;
  padding: 20px 10px;
}

button {
  background-color: darkgoldenrod;
  color: rgba(255, 255, 255, 0.815);
  border-radius: 5px;
  border-color: rgb(165, 192, 10);
}

.resultado {
  margin-top: 10px;
  font-weight: bold;
  height: 10px;
  margin-top: 5px;
 
}