body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

div{
    text-align: center;
    border: 4px solid black;
    height: 100px;
    margin-top: 50px;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 20px;

}

button{
    background-color: black;
    color: white;
    border-radius: 7px
}
